KAFKA_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/apache/kafka:3.9.0
FLINK_BASE_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/library/flink:1.19.1-scala_2.12-java11
FLINK_IMAGE=lakehouse-flink:1.19.1
DORIS_FE_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/selectdb/doris.fe-ubuntu:2.1.7
DORIS_BE_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/selectdb/doris.be-ubuntu:2.1.7
MYSQL_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/mysql:8.0.46
SPARK_IMAGE=lakehouse-spark:3.5.6
SPARK_BASE_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/bitnami/spark:3.5.6
HADOOP_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/apache/hadoop:3.3.6
HIVE_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/apache/hive:3.1.3
POSTGRES_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/postgres:16.4
MONGODB_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/library/mongo:7.0
TRINO_IMAGE=swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/trinodb/trino:482
